name: CI-CD-ML-Pipeline (Naman Omar - 2022BCD0049)

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    name: Train Model (CI)
    runs-on: ubuntu-latest

    outputs:
      improved: ${{ steps.check.outputs.improved }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model
        run: |
          python scripts/train.py

      - name: Upload model & metrics
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            model/
            metrics.json

      # ✅ Metric check happens here BEFORE deploy starts
      - name: Check metric improvement
        id: check
        run: |
          R2=$(jq -r .R2 metrics.json)

          echo "Current R2: $R2"
          echo "Best R2: ${{ vars.BEST_R2 }}"

          if (( $(echo "$R2 > ${{ vars.BEST_R2 }}" | bc -l) )); then
            echo "improved=true" >> $GITHUB_OUTPUT
          else
            echo "improved=false" >> $GITHUB_OUTPUT
            echo "2022BCD0049 ---- Metric did not improve"
          fi


  deploy:
    name: Deploy Model (CD)
    needs: train

    # ✅ Deploy runs ONLY if metric improved
    if: needs.train.outputs.improved == 'true'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download trained model
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/wine-quality:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE
