name: CI-CD-ML-Pipeline (Naman Omar - 2022BCD0049)

on:
  push:
    branches: [ "main" ]

permissions:
  actions: write
  contents: read

jobs:
  train:
    name: Train Model (CI)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model
        run: |
          python scripts/train.py

      - name: Upload model & metrics
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            model/
            metrics.json

  deploy:
    name: Deploy Model (CD)
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download trained model
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts

      - name: Read metrics
        id: metrics
        run: |
          echo "R2=$(jq -r .r2 metrics.json)" >> $GITHUB_ENV
          echo "MSE=$(jq -r .mse metrics.json)" >> $GITHUB_ENV

      - name: Compare with best metrics
        run: |
          echo "Current R2: $R2"
          echo "Best R2: ${{ vars.BEST_R2 }}"

          if (( $(echo "$R2 <= ${{ vars.BEST_R2 }}" | bc -l) )); then
            echo "2022BCD0049 ---- Metric did not improve"
            exit 0
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/wine-quality:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Update best metrics
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh variable set BEST_R2 --body "$R2"
          gh variable set BEST_MSE --body "$MSE"
